/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos gerais para a página */
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 24, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login {
    text-align: center;
  }
  
  .inputs {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .input[type="checkbox"]{
    padding-right: 20px ;
  }

  input[type="text"]:focus,input[type="password"]:focus
  {
   outline: none;
   border-color: #007bff;
   box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
   transform: scale(1.05); /* Aumenta ligeiramente o tamanho do campo */
 }
  .check {
    display: flex;
    align-items: center;

  }


  .center a{
    text-decoration: none;
  }
  .center{
    padding-top: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 16px;
  }
  .center h4{
    padding-top: 10px;
    align-items: left;
    text-align: left;
    flex: 1;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color: #00b300;
    transition-duration: 500ms;
    color: black;
    transform: scale(1.05);
  }

  .esquecer a{
    text-decoration: none;
    padding-bottom: -40px;
    
  }
  .esquecer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    flex: 1;
    
  }
  
  
  /* Responsividade */
  @media (max-width: 500px) {
    .container {
      max-width: 90%;
    }
  }
  