* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    text-align: left;
    margin-top: -69px; 
}

.logo h1{
    text-align: left;
    margin-top: -57px;
    margin-left: 90px;
    color: white;
    
}

.logo a :hover{
    transform: scale(1.2);
    transition-duration: 600ms;
}
.cabecalho {
    background-color: rgb(24, 24, 57);
    width: 100%;
    height: 13%;
    position: fixed;
    padding: 0 2rem;
    align-items: center;
}

.lista{
    padding-top: 47px;
    padding-bottom: 2%;
    padding-right: 2%;
    text-align: right;
    font-size: large;
    

}
.lista a{
    text-decoration: none;
    color: white;
}
.lista ul{
    margin-top: 10px auto;
    list-style: none;
    display: inline;

}
.lista li{
    display: inline;
    padding-right: 30px;

}

.lista li :hover{
    color: #007bff;
}

body{
    background-color: #1f4064;
    width: 100%;
    max-width: 400px;
}
.container{
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding-top: 145px; 
}